.ld.reverse {-webkit-animation-direction:reverse;animation-direction:reverse;}
.ld.xhalf {-webkit-animation-duration:.5s;animation-duration:.5s;}
.ld.x1 {-webkit-animation-duration:1s;animation-duration:1s;}
.ld.x2 {-webkit-animation-duration:2s;animation-duration:2s;}
.ld.x4 {-webkit-animation-duration:4s;animation-duration:4s;}
.ld.running {-webkit-animation-play-state:running;animation-play-state:running;}
.ld.paused {-webkit-animation-play-state:paused;animation-play-state:paused;}
.ld.f00 {-webkit-animation-delay:0s;animation-delay:0s;}
.ld.f01 {-webkit-animation-delay:-0.1s;animation-delay:-0.1s;}
.ld.f02 {-webkit-animation-delay:-0.2s;animation-delay:-0.2s;}
.ld.f03 {-webkit-animation-delay:-0.3s;animation-delay:-0.3s;}
.ld.f04 {-webkit-animation-delay:-0.4s;animation-delay:-0.4s;}
.ld.f05 {-webkit-animation-delay:-0.5s;animation-delay:-0.5s;}
.ld.f06 {-webkit-animation-delay:-0.6s;animation-delay:-0.6s;}
.ld.f07 {-webkit-animation-delay:-0.7s;animation-delay:-0.7s;}
.ld.f08 {-webkit-animation-delay:-0.8s;animation-delay:-0.8s;}
.ld.f09 {-webkit-animation-delay:-0.9s;animation-delay:-0.9s;}
.ld.f10 {-webkit-animation-delay:-1s;animation-delay:-1s;}
.ld-ring {width:1em;height:1em;position:relative;color:inherit;display:inline-block;}
.ld-ring:after {position:absolute;margin:auto;width:100%;height:100%;top:0;left:0;right:0;bottom:0;content:" ";display:inline-block;background:center center no-repeat;background-size:cover;}
.ld-ring:after {border-radius:50%;border-style:solid;border-width:.15em;-webkit-background-clip:padding-box;border-color:currentColor currentColor currentColor transparent;box-sizing:border-box;}
.ld-loader {background-size:cover;}

@keyframes ld-spin {
    0% {-webkit-transform:rotate(0);transform:rotate(0);animation-timing-function:cubic-bezier(0.55,0.055,0.675,0.19);}
    50% {-webkit-transform:rotate(180deg);transform:rotate(180deg);animation-timing-function:cubic-bezier(0.215,0.61,0.355,1);}
    100% {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
@-webkit-keyframes ld-spin {
    0% {-webkit-transform:rotate(0);transform:rotate(0);animation-timing-function:cubic-bezier(0.55,0.055,0.675,0.19);}
    50% {-webkit-transform:rotate(180deg);transform:rotate(180deg);animation-timing-function:cubic-bezier(0.215,0.61,0.355,1);}
    100% {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
.ld.ld-spin {-webkit-animation:ld-spin 1s infinite;animation:ld-spin 1s infinite;}
.ld-ext-right,.ld-ext-left,.ld-ext-bottom,.ld-ext-top,.ld-over,.ld-over-inverse,.ld-over-full,.ld-over-full-inverse {position:relative;-webkit-transition:all .3s;transition:all .3s;transition-timing-function:ease-in;overflow:hidden;}
.ld-ext-right>.ld,.ld-ext-left>.ld,.ld-ext-bottom>.ld,.ld-ext-top>.ld,.ld-over>.ld,.ld-over-inverse>.ld,.ld-over-full>.ld,.ld-over-full-inverse>.ld {position:absolute;top:50%;left:50%;margin:-0.5em;opacity:0;z-index:-100;-webkit-transition:all .3s;transition:all .3s;transition-timing-function:ease-in;}
.ld-ext-right.running>.ld,.ld-ext-left.running>.ld,.ld-ext-bottom.running>.ld,.ld-ext-top.running>.ld,.ld-over.running>.ld,.ld-over-inverse.running>.ld,.ld-over-full.running>.ld,.ld-over-full-inverse.running>.ld {opacity:1;z-index:auto;}
.ld-ext-right.running {padding-right:2.5em!important;}
.ld-ext-right>.ld {top:50%;left:auto;right:1em;}
.ld-ext-left.running {padding-left:2.5em!important;}
.ld-ext-left>.ld {top:50%;right:auto;left:1em;}
.ld-ext-bottom.running {padding-bottom:2.5em!important;}
.ld-ext-bottom>.ld {top:auto;left:50%;bottom:1em;}
.ld-ext-top.running {padding-top:2.5em!important;}
.ld-ext-top>.ld {bottom:auto;left:50%;top:1em;}
.ld-over,.ld-over-inverse,.ld-over-full,.ld-over-full-inverse {overflow:hidden;}
.ld-over.running>.ld,.ld-over-inverse.running>.ld,.ld-over-full.running>.ld,.ld-over-full-inverse.running>.ld {z-index:99999;}
.ld-over:before,.ld-over-inverse:before,.ld-over-full:before,.ld-over-full-inverse:before {content:" ";display:block;opacity:0;position:absolute;z-index:-1;top:0;left:0;width:100%;height:100%;-webkit-transition:all .3s;transition:all .3s;transition-timing-function:ease-in;background:rgba(240,240,240,0.8);}
.ld-over-full>.ld,.ld-over-full-inverse>.ld {position:fixed;}
.ld-over-full>.ld {color:rgba(0,0,0,0.8);}
.ld-over-full:before,.ld-over-full-inverse:before {z-index:-1;position:fixed;background:rgba(255,255,255,0.8);}
.ld-over.running>.ld,.ld-over-inverse.running>.ld,.ld-over-full.running>.ld,.ld-over-full-inverse.running>.ld {z-index:999999;}
.ld-over.running:before,.ld-over-inverse.running:before,.ld-over-full.running:before,.ld-over-full-inverse.running:before {opacity:1;z-index:999998;display:block;}
.ld-over-inverse>.ld {color:rgba(255,255,255,0.8);}
.ld-over-inverse:before {background:rgba(0,0,0,0.6);}
.ld-over-full-inverse>.ld {color:rgba(255,255,255,0.8);}
.ld-over-full-inverse:before {background:rgba(0,0,0,0.6);}
.contact-us {font-size:10px;margin:auto;font-family:Helvetica,Arial,sans-serif;}
.contact-us__heading {font-size:3.6em;margin:0;margin-bottom:20px;letter-spacing:-1px;border-bottom:1px dotted black;padding-left:10px;}
.contact-us:after {content:"";display:table;clear:both;}
.contact-us__form {width:60%;float:left;padding-right:20px!important;border-right:1px solid #EEE;}
.contact-us__information {overflow:hidden;padding-left:20px!important;}
.contact-form {margin:auto;padding:10px;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:10px}
.contact-form * {-webkit-box-sizing:border-box;box-sizing:border-box;}
.contact-form__description {font-size:1.4em;font-style:italic;line-height:1.5;margin-bottom:20px;}
.contact-form__description p {margin:0;}
.contact-form__required-fields-notice {font-weight:bold;color:#666;}
.contact-form__field label span {color:red;font-size:1.1em;}
.contact-form__field input,
.contact-form__field select,
.contact-form__field textarea {font-family: 'Manrope';width:100%;padding:5px;border:1px solid #A6A6A6;border-radius:4px;outline:0;font-size:1.6rem}

.contact-form__field textarea {resize:vertical}
.contact-form__field input.error,.contact-form__field select.error,.contact-form__field textarea.error {border:1px solid red;}
.contact-form__field .error {color:red;padding-top:5px;padding-left:5px;font-size:1.4em;font-weight:100;}
.contact-form__field--phone {display:none;}
.contact-form__response {font-size:1.4em;color:white;padding:1em;margin-bottom:2em;display:none;}
.contact-form__response--success {background-color:green;}
.contact-form__response--error {background-color:red;}
.contact-form__submit-btn {margin-top:12px;background-color:#FFF;font-size:1.6em;border:0;padding:.5em 1em;border:1px solid black;cursor:pointer;-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.contact-form .grecaptcha-badge {float:right;}
.contact-information {padding:20px;}
.contact-information__company-logo {font-family:'Times New Roman',Times,serif;font-size:2.8em;margin:0;margin-bottom:50px;}
.contact-information__section {margin-bottom:25px;}
.contact-information__section h2 {font-size:1.8em;font-weight:700;padding-bottom:5px;}
.contact-information__section p {font-size:1.4em;margin:0;margin-bottom:10px;}
.contact-us--vita .contact-us__heading {margin-left:10px;color:#40d1e7;border-color:#40d1e7;}
.contact-us--vita .contact-form__submit-btn:hover {color:#40d1e7;border:1px solid #40d1e7}
.wrap-contact-form {
    margin-top: 6rem;margin-bottom:10rem
}
#contact-form {
    margin-top: 4rem;
    max-width: 620px;
}
.contact-form__fields {
    display: flex;
    flex-wrap: wrap;
    margin:-12px;
}.contact-form__field {
    width: 50%;padding:12px;
}
.contact-form__field label {
    display: block;
    font-weight: normal;
    font-family: 'Manrope';
    font-size:14px;line-height:18px;    margin-bottom: 10px;
}

.contact-form__field--phone {
    display: none;
}.contact-form__field.form-textarea {
    width: 100%;
}
.checkterms {
    font-size: 12px;
    font-family: 'Manrope';
    margin: 10px 0;
}.wrap-contact-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-form__submit-btn {
    margin: 0;
    background-color: #000;
    border-radius: 4px;
    color: #FFF;
    font-family: 'Manrope';
    line-height: 1.1;
    padding: 5px 40px;
    font-weight: 500;
}

.contact-box {
    padding: 24px 20px;
    border-top: 1px solid var(--darkblue);
    background-color: #EBEEF5;
}.contact-box .contactbox-headline {
    margin: 18px 0;
    font-size: 15px;
    font-family: 'Manrope';
}.contact-box p {
    margin-bottom: 7px;
    color: #737373;
    font-family: 'Manrope';
    font-size: 14px;
    line-height: 1.1;
}